body {
    margin: 0 auto;
    background-image: url("../CompImages/background.png");
    background-repeat: no-repeat;
    background-size: 100% 560px;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;
}

li {
    float: left;
}

li a {
    font-family: arial, sans-serif;
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
}

li a:hover {
    background-color: #111;
}

h1 {
    margin: 0 auto;
    font-family: arial, sans-serif;
    text-align: center;
    font-size: 50px;
    color: rgb(100, 225, 223);
    background-color: rgba(100, 100, 100, 0.8);
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    font-family: arial, sans-serif;
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin-top: 100px;
}