body {
    margin: 0 auto;
    background-image: url("../CompImages/background.png");
    background-repeat: no-repeat;
    background-size: 100% 650px;
}

h1 {
    margin: 0 auto;
    font-family: arial, sans-serif;
    text-align: center;
    font-size: 50px;
    color: black;
    background-color: WHITE;
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    font-family: arial, sans-serif;
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin-top: 100px;
}

.container {
	width: 500px;
	height: 350px;
	text-align: center;
	background-color: rgba(135, 206, 250, 0.7);
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 150px;
}

.container img {
	width: 120px;
	height: 120px;
	margin-top: -60px;
	margin-bottom: 30px;
}

input[type="text"], input[type="password"] {
	border-radius: 100px;
	border: none;
	height: 45px;
	width: 300px;
	font-size: 20px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 30px;
}

.btn-login {
	margin-right: 30px;
	font-size: 20px;
	font-family: arial, sans-serif;
	padding: 15px 25px;
	color: #fff;
	border: none;
	border-radius: 50px;
	background-color: #2ECC71;
	border-bottom: 4px solid #27AE60;
}

a {
	text-decoration: none;
	font-size: 20px;
	font-family: arial, sans-serif;
	padding: 15px 25px;
	color: #fff;
	border: none;
	border-radius: 50px;
	background-color: #2ECC71;
	border-bottom: 4px solid #27AE60;
}